.header h1 {
    color: var(--primary-color)
}

.search-wrapper {
    position: relative;
    width: 15rem;
    margin: 2em 0;
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.search__input {
    padding: .7rem;
    width: 17rem;
    outline: none;
    border: 2px solid var(--primary-color);
    background-color: var(--light-grey-color);
    border-radius: 5px;
}

.icon-wrapper {
    position: absolute;
    right: 3px;
    top: 0;
    border-left: 1px solid black;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}